@charset "UTF-8";

@import "libs/normalize.scss";
@import "libs/reset.scss";
@import "libs/all_beta";


$gap: 			10px;
$header-h: 		44px;
$blue: 			#06f!default;
.m-gap{
	padding: 	0 0 $gap;
	h4,>p,>.btn-box{padding: 0 $gap;}
}

.nav-sub{
	display: -webkit-box;
	display: -ms-flexbox;
	border-bottom: 1px solid #ccc;
	background: #fff;
	@extend %L,%box-s;

	li{
		position: relative;
		-webkit-box-flex: 1;
		-ms-flex: 1;

		a{
			display: block;
			height: 		$header-h;
			line-height: 	$header-h;
			text-align: center;
		}

		&.current{
			a,i:after{ color: $green;}
			margin-bottom:-1px;
			border-bottom:2px solid $green;
		}
	}

	.m-gap &{
		position: relative;
		margin-top: -1px;
		border-top:1px solid #ccc;
		.current{margin-bottom:-1px;border-bottom:2px solid $green;}
		i{margin-right:3px!important;}
		+ .m-list{
			border-top:none;
		}
		>li{width: 50%;}
		>li:only-of-type{
			width: auto;
			margin: 0;
			border: none;
			a{padding-left: $gap;text-align:left;}
		}
	}

	&.m-N-2{
		margin: $gap;
		border:1px solid #c4c7cd;
		border-radius:$base-radius;
		li{
			&:after{
				content: "";
				position: absolute;
				top:0;
				bottom:0;
				right: 0;
				width: 1px;
				background-color: #c4c7cd;
		
			}
			&:last-child{ &:after{display:none;}}

			&.current{
				border:none;
				margin-top: 0;
				a{
					background:#c4c7cd ;
					color:#fff;
				}
			}
			a{
				height: 24px!important;
				line-height: 24px!important;
			}
		}
	}
}

// 2013.12.25
// 兑换流程
// ---------------------------------------------
.steps-box{
	h1{
		margin: 1em 0;
		text-align: center;
	}
	&.LR{
		ol li p{
			display: inline-block;
			vertical-align: middle;
			width: 40%;
		}
		img{
			display: inline-block;
			max-width:54%;
			//margin-left: -10px;
			margin: $gap 0 $gap -10px;
			//background-color: pink;
		}
	}

	ol{
		padding: $gap;
		counter-reset:section;
		li{
			margin: $gap 0;
			p{
				position: relative;
				margin:0 $gap;
				padding:.8em;
				border:1px dashed #444;
				//background-color: pink;
				@extend %box-s;
				&:before{
					position: absolute;
					top:50%;
					left:0;
					margin: -.5em 0 0 -.3em;
					content:counter(section);
	  				counter-increment:section;
	  				background-color: #FFF;
	  				font-size: 3rem;
	  				line-height: 1;
				}				
				
			}
			img{
				display: block;
				max-width:100%;
				margin: $gap*2 auto;
			}
		}
	}

}